/* SLA */

.red {
    color: red;
}




/* BODY */

.body_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #92aacc;
}




/* LOGIN */

#login_container {
    width: 100vw;
    height: 100vh;
    background: rgb(100, 135, 181);
    background: radial-gradient(circle, rgba(100, 135, 181, 1) 37%, rgba(27, 40, 57, 1) 100%);
}

.default_title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 0 20px;
    margin-bottom: 10px;
}

#login_container #login_form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(100, 135, 181);
    background: radial-gradient(circle, rgba(100, 135, 181, 1) 37%, rgba(27, 40, 57, 1) 100%);
}

#login_container #login_form form {
    width: 35vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#login_container #login_form form img {
    width: 20%;
    margin: 5px auto 10px auto;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    height: 50px;
    font-size: 1.1em;
    outline: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    border: none;
    padding-left: 10px;
}

.login_button {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(27, 40, 57);
    background: linear-gradient(0deg, rgb(61, 77, 95) 0%, rgba(100, 135, 181, 1) 50%, rgb(61, 77, 95) 100%);
    border: rgb(0, 0, 0, 0.50);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.login_button,
.add_button:active {
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.error_message {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: auto 1px auto 1px;
    border: rgb(0, 0, 0, 0.50);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(252, 84, 84);
}




/* OUTRA COISA */

#top_content {
    width: 100%;
    height: 70px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: rgb(100, 135, 181);
    background: linear-gradient(90deg, rgba(100, 135, 181, 1) 12%, rgba(0, 0, 0, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#main_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
}




/* SIDE MENU */

#side_menu_container {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
    font-size: 20px;
    background: linear-gradient(0deg, rgba(27, 40, 57, 1) 0%, rgba(100, 135, 181, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 0 15px 15px 0;
}

.item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: rgb(0, 0, 0, 0.50);
}

#item_logout {
    /* margin-top: 133%; MESMO QUE 20VW */
    margin-top: 20vw;
}

.item .icon {
    width: 5vw;
    margin: 1%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#side_menu_container a {
    text-decoration: none;
}

.item span {
    font-size: 1vw;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.item:hover {
    font-style: oblique;
    background-color: rgb(0, 255, 255, 0.4);
    font-size: 22px;
}

.game_icon {
    background-image: url('../public/icons/game_icon.png');
}

.category_icon {
    background-image: url('../public/icons/category_icon.png');
}

.idiom_icon {
    background-image: url('../public/icons/idiom_icon.png');
}

.platform_icon {
    background-image: url('../public/icons/platform_icon.png');
}

.logout_icon {
    background-image: url('../public/icons/logout_icon.png');
}




/* CONTENT CONTAINER */

#content_container {
    width: 85%;
    height: 96%;
    margin: 15px 0 15px 15px;
    border-radius: 15px 0 0 15px;
    background-color: #3957715f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#footer_container {
    width: 100%;
    height: 10%;
    background-color: blue;
}




/* IDIOM TABLES OF DASHBOARD */

#table_button {
    display: flex;
    justify-content: flex-end;
    margin-left: 2px;
}

.add_button {
    width: 15vw;
    ;
    height: 50px;
    margin: 1% 2% 1% 0;
    border-radius: 3px;
    font-weight: bolder;
    text-align: center;
    background: rgb(27, 40, 57);
    background: linear-gradient(0deg, rgba(23, 30, 39, 0.767) 0%, rgba(100, 135, 181, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: rgb(0, 0, 0, 0.50);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.add_button a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#tables_dashboard table {
    width: 80vw;
    margin: 0 3%;
}

#tables_dashboard table th {
    height: 5vh;
    text-align: left;
    background: rgb(108, 119, 153);
    background: linear-gradient(90deg, rgba(108, 119, 153, 0.8841911764705882) 0%, rgba(36, 58, 87, 1) 100%) fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #FFF;
    padding-left: 10px;
    font-size: larger;
}

#tables_dashboard table tr {
    height: 40px;
    text-align: left;
    background: rgb(244, 248, 255);
    background: radial-gradient(circle, rgba(244, 248, 255, 1) 0%, rgba(149, 179, 219, 0.8729866946778712) 100%) fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#tables_dashboard table td {
    padding-left: 5px;
}

#tables_dashboard table td a {
    text-decoration: none;
    color: rgb(19, 17, 17);
}

#tables_dashboard table td a:hover {
    font-size: larger;
    font-weight: bolder;
}

#tables_dashboard table .table_item {
    text-align: center;
}




/* FORMS CONTAINERS (ADD, EDIT, DELETE) */

.small_form {
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10% auto;
    font-size: 25px;
    border-radius: 15px;
    background: rgb(244, 248, 255);
    background: radial-gradient(circle, rgba(244, 248, 255, 1) 0%, rgba(149, 179, 219, 0.8729866946778712) 100%) fixed;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.form_name {
    font-size: 110%;
    font-weight: bold;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 70%;
    /* Para ver as bordas do formulário */
    padding: 1em;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 15px;
}

form div + div {
    margin-top: 1em;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#title_container {
    width: 20vw;
    height: 5vh;
    text-align: left;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    font-size: larger;
}

.save_button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(27, 40, 57);
    background: linear-gradient(0deg, rgb(61, 77, 95) 0%, rgba(100, 135, 181, 1) 50%, rgb(61, 77, 95) 100%);
    border: rgb(0, 0, 0, 0.50);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}



/* FORMS GAME */

#game_form {
    width: 70%;
    height: 96%;
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 250px;
    padding: 10px;
    border-radius: 15px;
    background: rgb(244, 248, 255);
    background: radial-gradient(circle, rgba(244, 248, 255, 1) 0%, rgba(149, 179, 219, 0.8729866946778712) 100%) fixed;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

#select_form {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 50%;
    margin: 10px;
}

#table_list p {
    font-size: 200%;
    color: white;
    margin-top: 15px;
    text-align: center;
}